:root {
  --green: #1ba94d; /* variable for green color */
  --blue: #01a4ff; /* varibale for blue color */
  --navItems: #39424e; /* variable for nav items */
  --sectionH1: #576871; /*color for h1 in section*/
  --sectionH1Bold: #39424e; /*color for h1 bold in section*/
  --modesBgColor: #f5f9f9; /*modes background color*/
  --modesColor: #18484e; /*modes color*/
  --modesColH3: #39424e; /*modes h3 color*/
  --modesColP: #637681; /*modes p color*/
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* top desciption about HackerRank */
.topBar {
  height: 43px;
  width: 92%;
  background-color: #f3f7f7;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #738f93;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8.5em;
}
/* a tag styling in .topBar */
.topBar a {
  color: var(--green);
  text-decoration: none;
}
/* a tag styling on hover in .topBar */
.topBar a:hover {
  color: var(--green);
  text-decoration: underline;
}
/* nav and logo styling */
header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--blue);
  color: var(--navItems);
}
/* logo img dimentions */
header img {
  height: 20px;
  width: 160px;
}
/* nav styling */
nav {
  height: 45px;
  width: 50%;
  background-color: white;
  margin-top: 1.5em;
  /* position: fixed; */
}
/* nav unordered list styling */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/*nav list items styling*/
nav li {
  list-style-type: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: none;
  border-bottom: 2px solid var(--green);
  padding-bottom: 1em;
}
/*nav button styling*/
.navBtns button {
  height: 50px;
  width: 50px;
  background-color: yellow;
}
/*contains logo and nav*/
.logoNav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  background-color: #738f93;
  align-items: center;
}
section {
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section h1 {
  font-size: 34px;
  line-height: 60px;
  font-weight: 400;
  color: var(--sectionH1);
}
h1 .bold {
  font-weight: bolder;
  color: var(--sectionH1Bold);
}
section button {
  height: 50px;
  width: 170px;
  background-color: var(--green);
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  font-family: "Source Code Pro", sans-serif;
  margin-top: 2em;
  margin-bottom: 2em;
  border: none;
  cursor: pointer;
  outline: none;
}
section button:hover {
  height: 50px;
  width: 170px;
  background-color: var(--green);
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  font-family: "Source Code Pro", sans-serif;
  margin-top: 2em;
  margin-bottom: 2em;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 12px rgba(27, 169, 76, 0.5);
}
section p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: var(--sectionH1);
  margin-bottom: 4em;
}
.brandsImg {
  height: 100px;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.brandsImg .atlassian {
  height: 47px;
  width: 49px;
}
.brandsImg .booking {
  height: 28px;
  width: 153px;
}
.brandsImg .dropbox {
  height: 47px;
  width: 54px;
}
.brandsImg .goldman {
  height: 49px;
  width: 115px;
}
.brandsImg .linkedin {
  height: 31px;
  width: 115px;
}
.brandsImg .stripe {
  height: 42px;
  width: 97px;
}
.brandsImg .vmware {
  height: 27px;
  width: 141px;
}
.brandsImg .washington {
  height: 60px;
  width: 67px;
}
.modes {
  height: 370px;
  width: 100%;
  background-color: var(--modesBgColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.modesCol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 320px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--modesColor);
}
.modesCol h3 {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 36px;
  color: var(--modesColH3);
}
.modesCol p {
  font-size: 20px;
  line-height: 400;
  line-height: 31px;
}
.modesBtn{
    height: 60px;
    width: 200px;
    border: 1px solid var(--green);
    background-color: white;
    color: var(--green);
    cursor: pointer;
    font-family: "Source Code Pro", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    border-radius: 2px;
}
